/*
Colors used:
Primary Color (Black): #141414;
Secondary Color (Tan): #E8DEDB;
Supplementary Color (Brown): #5A4D48;
Supplementary Color (Dark Tan): #C1A98F;
Supplementary Color (White): #FFFFFF;
*/

* {
  box-sizing: border-box;
}

    body {
    background-color: #141414;
    font-family: 'Raleway', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #FFFFFF;
  }
  
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }

  h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.35em;
    font-weight: 700;
    line-height: 2;
  }
  
  h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.50em;
    font-weight: 700;
    margin: 20px, 20px;
  }
  
  h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.75em;
    font-weight: 700;
  }
  h4 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width: 100%;
  }
  
  a {
    color: #E8DEDB;
    text-decoration: none; /* No underlining */
  }

  a:visited { /* visited link */
    color: #C1A98F;
  }

  a:hover {
    color: #FFFFFF;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  a:focus {
    color: #C1A98F;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  .active { /* selected link */
    color: #FFFFFF!important;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #141414;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #FFFFFF; /* width of the border, type, color */
    border-top: 2px solid #FFFFFF; /* width of the border, type, color */
    border-left: 2px solid #FFFFFF; /* width of the border, type, color */
    border-right: 2px solid #FFFFFF; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button:hover {
    background-color: #FFFFFF;
    color: #141414; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #141414; /* width of the border, type, color */
    border-top: 2px solid #141414; /* width of the border, type, color */
    border-right: 2px solid #141414; /* width of the border, type, color */
    border-left: 2px solid #141414; /* width of the border, type, color */
    transition: 0.2s opacity;
    text-decoration: none;
  }

  .button:active {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #141414;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #FFFFFF; /* width of the border, type, color */
    border-top: 2px solid #FFFFFF; /* width of the border, type, color */
    border-left: 2px solid #FFFFFF; /* width of the border, type, color */
    border-right: 2px solid #FFFFFF; /* width of the border, type, color */
    transition: 0.2s opacity;
  }

  .button-two {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #141414;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #141414; /* width of the border, type, color */
    border-top: 2px solid #141414; /* width of the border, type, color */
    border-left: 2px solid #141414; /* width of the border, type, color */
    border-right: 2px solid #141414; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
  .button-two:hover {
    background-color: #FFFFFF;
    color: #141414; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #FFFFFF; /* width of the border, type, color */
    border-top: 2px solid #FFFFFF; /* width of the border, type, color */
    border-right: 2px solid #FFFFFF; /* width of the border, type, color */
    border-left: 2px solid #FFFFFF; /* width of the border, type, color */
    transition: 0.2s opacity;
    text-decoration: none;
  }

  .button-two:active {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #141414;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #141414; /* width of the border, type, color */
    border-top: 2px solid #141414; /* width of the border, type, color */
    border-left: 2px solid #141414; /* width of the border, type, color */
    border-right: 2px solid #141414; /* width of the border, type, color */
    transition: 0.2s opacity;
  }


  header{
    margin: 10px;
    position: relative;
    display: block;
  }

    #logo {
      text-align: left;
      width: 5%; 
      max-width: 150px;
      min-width: 50px;
      float: left;
      position: relative;
      margin: 10px 10px 10px 10px;
    }
    
    .topnav{
      float: right;
      color: #E8DEDB;
      text-align: center;
      text-decoration: none;
      font-size: 17px;
      padding: 0px;
      padding-top: 10px;
      margin-right: 10px;
      vertical-align: middle;
      font-weight: 500;
    }
  
  nav ul{
      margin: 0;
  }
  
  nav ul li{
      list-style-type: none;
      padding: 10px;
  }
  

  nav > ul > li > a:visited{
    color: #C1A98F;
    text-decoration: none;
}

nav > ul > li > a:hover{
  color: #FFFFFF;
  text-decoration: underline;
}

.hr {width: 90%;}

.centerend {
  text-align: center;
}
  

/* Layout styling */

.container {
  padding: 0 50px;
}


.hero-inner {
  display:block ;
  padding-top: 100px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px 0px;
  text-align: left;

}


.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero h1 {
  text-align: left; /* Left align text */
}

#hero {
  padding-bottom: 0px;
}

.img {width: 50%;
height:"auto";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-align {
  text-align: center;
}

.footer-buttons {
  vertical-align: center;
}

footer {
  padding-bottom: 100px;
  padding-top: 75px;}
  

.hero-container {
  padding-top: 100px;
  padding-bottom: 75px;
  padding-right: 50px;
  padding-left: 50px;
  border-left: 0px;
  border-right: 0px;
  text-size-adjust: auto;
}

.img {
  width: 70%
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}


#hero {
  padding-bottom: 0px;
}

.container {
  padding: 0 30px;
}

.footer-buttons {
  padding-right: 30px;
  vertical-align: center;
}

footer {
  padding-bottom: 0px;
  padding-top: 20px;}
  
  #footerlogo {
    width: 30%; 
    max-width: 150px;
    min-width: 50px;
  }

  #hero {padding-bottom: 0px; background: url(/img/background-image.png) no-repeat center center fixed !important; -webkit-background-size: cover !important; -moz-background-size: cover !important; -o-background-size: cover !important; background-size: cover !important; }

  #about-picture {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }

  
  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }


  
  @media only screen and (max-width: 600px) {
    .footer-work{
    text-align: center;
    }
    
    .footer-buttons {
    padding: 0;
    }

    .navtoggle li:not(:last-child) {
      display: none;
  }
  
  .navtoggle, .navtoggle.responsive {
      position: relative;
  }
  
  .navtoggle li .icon {
      position: absolute;
      right: 0;
      top: 2px;
      font-size: 24px;
      margin: 10px 10px 10px 0;
  }
  
  .navtoggle.responsive nav {
      padding: 24px 0 0;
      min-height: 100vh;
      
  }
  
  .navtoggle.responsive li {
      display: block;
      padding: 10px 0;
  }
  
  .navtoggle.responsive li:last-child {
      padding: 0 0 10px;
  }

  ul.topnav  {width: 100%;
  margin-right: 0px;
}
  

    }

  

 /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  p {
    font-size: 18px; /* Sets the font size to 18px */
  }

  .hero-container {
    padding-top: 175px;
    padding-bottom: 175px;
    padding-left: 50px;
    padding-right: 50px;
    border-left: 0px;
    border-right: 0px;
    text-size-adjust: auto;
  }

  h1 {
    font-size: 35px;
  }
  
  h2 {
    font-size: 30px; 
    padding-left: 50px;
    padding-bottom: 25px;
  }

  h3 {
    font-size: 25px;
  }
  .topnav{
    float: right;
    color: #E8DEDB;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 0px;
    padding-top: 0px;
    margin-right: 10px;
    vertical-align: middle;
  }

  #footerlogo {
    width: 20%; 
    max-width: 150px;
    min-width: 50px;
    padding-left: 30px;
  }

  .footer-buttons {
    vertical-align: middle;
    padding-right: 0px;
    float: right;
  }

  #logo {
    padding-top: 5px;
     max-width: 250px;
   }

   .hero-inner {
    display:block ;
    padding-top: 100px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 50px;
    margin: 0px 0px;
    text-align: left;}

    .navtoggle li:not(:last-child) {
      display: none;
  }
  
  .navtoggle, .navtoggle.responsive {
      position: relative;
  }
  
  .navtoggle li .icon {
      position: absolute;
      right: 0;
      top: 2px;
      font-size: 24px;
      margin: 10px 10px 10px 0;
  }
  
  .navtoggle.responsive nav {
      padding: 24px 0 0;
      min-height: 100vh;
      
  }
  
  .navtoggle.responsive li {
      display: block;
      padding: 10px 0;
  }
  
  .navtoggle.responsive li:last-child {
      padding: 0 0 10px;
  }

  ul.topnav  {width: 100%;
  margin-right: 0px;
}
  

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  h1 {
    font-size: 50px;
  }
  
  h2 {
    font-size: 40px;
    padding-left: 0px;
    padding-bottom: 0px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 23px;
  }

  .hero-inner {
    display:block;
    padding-top: 150px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 50px;
    margin: 0px 0px;
    text-align: left;
  
  }

  img {width: 100%;}

  .col-lg-5 {width: 40%;}
  .col-lg-7 {width: 60%;}

  [class*="col-"] {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #about-image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .hero-container {
    padding-top: 175px;
    padding-bottom: 150px;
    padding-right: 200px;
    padding-left: 75px;
    border-left: 0px;
    border-right: 0px;
    font-size: 55px;
  }

  .topnav{
    float: right;
    color: #E8DEDB;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 0px;
    padding-top: 23px;
    margin-right: 10px;
    vertical-align: middle;
  }


  .container {
    padding: 0 50px;
  }

  .footer-buttons {
    vertical-align: middle;
    padding-right: 0px;
    float: right;
  }

  .container-work {
    padding: 30px;
  }

  footer {
    padding-bottom: 20px;
    padding-top: 20px;}
    
    #footerlogo {
      width: 20%; 
      max-width: 150px;
      min-width: 50px;
      display: inline;
      vertical-align: center;
    }

    #logo {
      width: 5%;
      padding-top: 23px;
      padding-left: 0px;
      max-width: 250px;
      margin: 0px;
      margin-left: 20px;
    }

    .hr {width: 95%;}

    .aboutimage {
      width: 80%;
      padding-top: 0px;
    }

     .center {width: 40%;}

     .about-text {
      margin-top: -50px;
     }

     .about-image {
      width: 90%;
      height: auto;
      margin-top: -200px;
     }

     nav ul li{
      list-style-type: none;
      display: inline;
      padding: 10px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  ul.topnav  {width: auto;
    margin-right: 10px;
  }
      
}
}
