/*
Colors used:
Primary Color (Black): #141414;
Secondary Color (Tan): #E8DEDB;
Supplementary Color (Brown): #5A4D48;
Supplementary Color (Dark Tan): #C1A98F;
Supplementary Color (White): #FFFFFF;
*/

body {
        background-color: #141414;
        font-family: 'Raleway', sans-serif;
        font-size: 16px; /* Sets the font size to 16px */
        font-weight: 300; /* Sets the font weight to 300 */
        line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
        color: #FFFFFF;
      }
      
      h1, h2, h3, h4 {
        line-height: 1.4;
      }
      h1 {
        font-family: 'Libre Baskerville', serif;
        font-size: 2.75em;
        font-weight: 700;
      }
      
      h2 {
        font-family: 'Libre Baskerville', serif;
        font-size: 2.25em;
        font-weight: 700;
      }
      
      h3 {
        font-family: 'Libre Baskerville', serif;
        font-size: 1.75em;
        font-weight: 400;
      }
      h4 {
        font-family: 'Libre Baskerville', serif;
        font-size: 1.35em;
        font-weight: 400;
      }
      